.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar .logo-image {
    height: 40px;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }
  
  .auth-buttons .login-button {
    background-color: #ff6347;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-buttons .profile-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .auth-buttons .profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  